.page-header
  h1 Forgot Password

form#forgot-password-form.form-horizontal(method='post', name='forgotPassword.form', ng-submit='forgotPassword.submit(forgotPassword.form)', api-validate, novalidate)
  .form-group.email(ng-class="{'has-error': forgotPassword.form.hasError('email')}")
    label.control-label.col-sm-2.required(for='email') Email
    .col-sm-10.col-md-8
      input#email.form-control(name='email', placeholder='Email', required='required', type='email', ng-model='forgotPassword.email')
      span.help-block(ng-show="forgotPassword.form.hasErrorMessage('email')", ng-bind='forgotPassword.form.email.$error.message')
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type='submit') Submit

