.page-header
  h1 Register

form#register-form.form-horizontal(method='post', name='register.form', ng-submit='register.submit(register.form)', api-validate, novalidate)
  .form-group.profile_first_name(ng-class="{'has-error': register.form.hasError('profile_first_name')}")
    label.control-label.col-sm-2.required(for='profile_first_name') First Name
    .col-sm-10.col-md-8
      input#profile_first_name.form-control(name='profile_first_name', placeholder='First Name', required='required', type='text', ng-model='register.profile.first_name')
      span.help-block(ng-show="register.form.hasErrorMessage('profile_first_name')", ng-bind='register.form.profile_first_name.$error.message')
  .form-group.profile_last_name(ng-class="{'has-error': register.form.hasError('profile_last_name')}")
    label.control-label.col-sm-2.required(for='profile_last_name') Last Name
    .col-sm-10.col-md-8
      input#profile_last_name.form-control(name='profile_last_name', placeholder='Last Name', required='required', type='text', ng-model='register.profile.last_name')
      span.help-block(ng-show="register.form.hasErrorMessage('profile_last_name')", ng-bind='register.form.profile_last_name.$error.message')
  .form-group.email(ng-class="{'has-error': register.form.hasError('email')}")
    label.control-label.col-sm-2.required(for='email') Email
    .col-sm-10.col-md-8
      input#email.form-control(name='email', placeholder='Email', required='required', type='email', ng-model='register.email')
      span.help-block(ng-show="register.form.hasErrorMessage('email')", ng-bind='register.form.email.$error.message')
  .form-group.password(ng-class="{'has-error': register.form.hasError('password')}")
    label.control-label.col-sm-2.required(for='password') Password
    .col-sm-10.col-md-8
      input#password.form-control(name='password', placeholder='Password', required='required', type='password', ng-model='register.password')
      span.help-block(ng-show="register.form.hasErrorMessage('password')", ng-bind='register.form.password.$error.message')
  .form-group.confirm(ng-class="{'has-error': register.form.hasError('confirm')}")
    label.control-label.col-sm-2.required(for='confirm') Confirm
    .col-sm-10.col-md-8
      input#confirm.form-control(name='confirm', placeholder='Confirm', required='required', type='password', ng-model='register.confirm')
      span.help-block(ng-show="register.form.hasErrorMessage('confirm')", ng-bind='register.form.confirm.$error.message')
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type='submit') Register

