.page-header
  h1 Reset Password

form#reset-password-form.form-horizontal(method='post', name='resetPassword.form', ng-submit='resetPassword.submit(resetPassword.form)', api-validate, novalidate)
  .form-group.token(ng-class="{'has-error': resetPassword.form.hasError('token')}")
    span.help-block(ng-show="resetPassword.form.hasError('token')") Missing or invalid reset token.
    div(style='display:none')
      input(name='token', type='hidden', ng-model='resetPassword.token')
  .form-group.email(ng-class="{'has-error': resetPassword.form.hasError('email')}")
    label.control-label.col-sm-2.required(for='email') Email
    .col-sm-10.col-md-8
      input#email.form-control(name='email', placeholder='Email', required='required', type='email', ng-model='resetPassword.email')
      span.help-block(ng-show="resetPassword.form.hasErrorMessage('email')", ng-bind='resetPassword.form.email.$error.message')
  .form-group.password(ng-class="{'has-error': resetPassword.form.hasError('password')}")
    label.control-label.col-sm-2.required(for='password') Password
    .col-sm-10.col-md-8
      input#password.form-control(name='password', placeholder='Password', required='required', type='password', ng-model='resetPassword.password')
      span.help-block(ng-show="resetPassword.form.hasErrorMessage('password')", ng-bind='resetPassword.form.password.$error.message')
  .form-group.confirm(ng-class="{'has-error': resetPassword.form.hasError('confirm')}")
    label.control-label.col-sm-2.required(for='confirm') Confirm
    .col-sm-10.col-md-8
      input#confirm.form-control(name='confirm', placeholder='Confirm', required='required', type='password', ng-model='resetPassword.confirm')
      span.help-block(ng-show="resetPassword.form.hasErrorMessage('confirm')", ng-bind='resetPassword.form.confirm.$error.message')
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type='submit') Reset Password

